<!DOCTYPE HTML>
<html>
<head>
    <title>Air Mouse</title>
    <script type="text/javascript" src="/static/common/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/common/js/shake.js"></script>
    <!--<link rel="stylesheet" href="/static/common/css/jquery.mobile-1.4.5.min.css">-->
    <!-- Latest compiled and minified JavaScript -->
<script
    src="/static/common/js/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet"
    href="/static/common/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
    href="/static/common/css/bootstrap-theme.min.css">

<script
  src="/static/common/js/tether.min.js"></script>

<script
    src="/static/common/js/bootstrap.js"></script>

</head>
<body>
 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">UHK</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/objrenderer">OBJ Renderer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/3drenderer">3D Renderer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/slideshow">Slideshow Presenter</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/app/airmouse">Air Mouse</a>
          </li>

        </ul>
      </div>
    </nav>
    <div data-role="page">
      <div data-role="header">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h1>You are free to use your Mobile Mouse Anywhere</h1></center>
     </div>

    </div>

</body>
</html>

